* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

:root {
    --color-lime: #D8DB2F;
    --color-slate-900: #133041;
    --color-slate-700: #4E6E7E;
    --color-slate-500: #6B94A8;
    --color-slate-300: #9ABED5;
    --color-slate-100: #E4F4FD;
    --color-red: #D73328;

    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
}

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url('../assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url('../assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: medium;
}

.text-preset-1 {
    font-size: 56px;
    line-height: 1.25;
    letter-spacing: -1px;
}

.text-preset-2 {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -1px;
}

.text-preset-3 {
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-present-4 {
    font-size: 16px;
    line-height: 1.5;
}

.text-present-5 {
    font-size: 14px;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--color-slate-100);
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

/*  */
.mortgage {
    max-width: 688px;
    background-color: #fff;
}

.mortgage-content {
    padding: 32px 24px;
}

.mortgage__title {
    color: var(--color-slate-900);
    margin-bottom: 8px;
}

.mortgage__clear {
    color: var(--color-slate-700);
    text-decoration: none;
    border-bottom: 1px solid var(--color-slate-700);
}

.mortgage__clear:hover {
    color: var(--color-slate-900);
}

.mortgage__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mortgage__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mortgage__label {
    font-family: inherit;
    color: var(--color-slate-700);
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.mortgage__storage {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-slate-500);
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
}

.mortgage__storage:hover:if(.mortgage__input:placeholder-shown) {
    border-color: var(--color-lime);
}

.mortgage__storage:hover .mortgage__type {
    background-color: var(--color-lime);
}

.mortgage__storage:hover .mortgage__years {
    background-color: var(--color-lime);
}

.mortgage__type {
    width: 44px; height: 46px;
    padding: 11px 12px;
    background-color: var(--color-slate-100);
}

.mortgage__input {
    font-family: inherit;
    border: 1px solid transparent;
    height: 100%;
    padding-left: 16px;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 0px;
    color: var(--color-slate-900);
    font-weight: bold;
    width: 100%;
    display: block;
    cursor: pointer;
}

.mortgage__input:focus {
    outline: none;
}

.mortgage__years {
    padding: 14px;
    background-color: var(--color-slate-100);
}

.mortgage__year {
    color: var(--color-slate-700);
    letter-spacing: 0px;
    font-weight: bold;
}

.mortgage__option {
    padding: 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-slate-500);
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
}

.mortgage__option:first-of-type {
    margin-bottom: 8px;
}

.mortgage__radio {
    margin-right: 16px;
}

.mortgage__name {
    color: var(--color-slate-900);
    font-weight: bold;
}

.mortgage__radio {
    position: relative;
    appearance: none;
    border: 1px solid var(--color-slate-700);
    border-radius: 50%;
    width: 20px; height: 20px;
}

.mortgage__radio:checked {
    border-color: var(--color-lime);
}

.mortgage__radio:checked::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 50%;
    transform: scale(0.7);
    background-color: var(--color-lime);
}

.mortgage__option--active {
    border: 1px solid var(--color-lime);
    background-color: #d8db2f41;
}

.mortgage__calculate {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 50px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lime);
    border: 1px solid transparent;
}

.mortgage__calculate:hover {
    background-color: #d8db2f69;
}

.mortgage-result {
    padding: 32px 24px;
    background-color: var(--color-slate-900);
}

.mortgage__figure {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mortgage__results {
    color: #fff;
}

.mortgage__complete {
    color: var(--color-slate-300);
}

/* Results */
.mortgage__your {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mortgage__show-results {
    margin-top: 24px;
    border-top: 4px solid var(--color-lime);
    padding: 24px;
    border-radius: 8px;
    background-color: #0a1c27;
}

.mortgage__monthly {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-slate-700);
}

.mortgage__total {
    padding-top: 16px;
}

.mortgage__month {
    color: var(--color-lime);
    font-size: 40px;
    font-weight: bold;
    margin-top: 8px;
}

.mortgage__total-repay {
    color: #fff;
    margin-top: 8px;
}

/* ERRORS IN THE border style and icon style */

.mortgage__storage--error {
    border-color: var(--color-red);
}

.mortgage__type--error {
    background-color: var(--color-red);
}

.mortgage__type--error > .mortgage__year {
    color: #fff;
}

.mortgage__type--error > path {
    color: #fff;
}

.mortgage__storage:hover {
    border: 1px solid var(--color-lime) !important;
}

.mortgage__name {
    cursor: pointer;
}


/* Display: error will be none */
.error {
    display: none;
    margin-top: 12px;
    color: var(--color-red);
}

@media screen and (min-width: 768px) {

        .mortgage {
            max-width: 688px;
            border-radius: 24px;
            overflow: hidden;
        }

        .mortgage-content {
            padding: 40px;
        }

        .mortgage__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mortgage__tile {
            margin-bottom: 0;
        }
    
        .mortgage__content {
            flex-direction: row;
        }

        .mortgage__content .mortgage__blocky {
            width: 50%;
        }

        .mortgage__calculate {
            width: 314px;
        }

        .mortgage__month {
            font-size: 56px;
        }
    }
@media screen  and (min-width: 1024px){
    .mortgage {
            max-width: 1008px;
            display: flex;
        }

    .mortgage-content {
        width: 50%;
    }

    .mortgage-result {
        width: 50%;
        padding: 40px;
        border-bottom-left-radius: 60px;
    }

    .mortgage__figure {
        height: 100%;
        justify-content: center;
    }

    .mortgage__monthly {
    padding-bottom: 32px;
}

.mortgage__total {
    padding-top: 32px;
}

}